<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="login-container">
        <h2>Seja Bem-vindo!</h2>
        <form action="/logar" method="POST">
            <textarea name="nome" placeholder="Nome" required></textarea>
            <textarea name="senha" placeholder="Senha" required></textarea>
            <button type="submit" class="btn-login">Logar</button>
        </form>
         
        <a href="/cadastrar">
            <button type="button" class="btn-cadastrar">Cadastrar</button>
        </a>
       
    </div>
</body>
</html>